server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: laravel
    static_configs:
      - targets:
          - localhost
        labels:
          job: laravel
          environment: development
          __path__: /var/www/storage/logs/*.log
    pipeline_stages:
      - json:
          expressions:
            message: message
            level: level
            context: context
            timestamp: timestamp
      - labels:
          level:
          timestamp:
      - output:
          source: message
